.uploader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: initial;
}

.uploader-container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploader-title {
    font-size: 6rem; 
    display: flex;
    width: 100%;
    padding-top: 0.75rem;
}

.uploader-subtitle {
    font-size: 1rem;
    font-style: italic;
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
}